
a{
    text-decoration: none;
    color: black;
} 

.more_videos_container{
    width: 415px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 35px;
    padding-bottom: 8px;
    padding-top: 5px;
}

.video_box{
    width: 96%;
    height: 110px;
    padding: 9px 10px 5px 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.video_box_img{
    width: 168px;
    height: 94px;
}

.video_box_title{
    position: absolute;
    left: 186px;
    top: 13px;
    font-size: 13px;
    font-weight: 600;
}

.video_box_title:hover{
    color: blue;
}

.video_box_channel{
    position: absolute;
    left: 186px;
    top: 60px;
    font-size: 11px;
    font-weight: 400;
    color: #666;
}

.video_box_views{
    position: absolute;
    left: 186px;
    top: 75px;
    font-size: 11px;
    font-weight: 400;
    color: #666;
}
