.main_search_container{
    /*height: 100vh;*/
    width: 100%;
    background: #eeeeee;
    border-top: 1px solid #e3e3e3;
    position: relative;
    padding-bottom: 50px;
}
#first_box{
    width: 710px;
    background: white;
    position: relative;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: -14px;
    height: 43px;
}

#first_box p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13.2px;
    color: #000000;
    position: absolute;
    top: 14px;
    left: 14px;
}
#filter_bttn{
    height: 20px;
    width: 62px;
    border: 1px solid #d3d3d3;
    background: #f8f8f8;
    position: absolute;
    top: 17px;
    left: 15px;
    border-radius: 3px;
    /*opacity: 0.8;*/
}

#filter_bttn:hover{
    cursor: pointer;
    background: #e9e9e9;
    /*opacity: 1*/
}
#filter_bttn h1{
    font-size: 11px;
    color: #555555;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 3px;
    left: 8px;
}
#filter_bttn img{
    height: 18px;
    position: absolute;
    /* top: 0px; */
    right: 1px;
}
#first_box h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    margin: 0;
    color: #555555;
    position: absolute;
    top: 21px;
    right: 18px;
    font-weight: 300;
}
#menu_dropdown{
    width: 710px;
    background: white;
    position: relative;
    margin-left: 10%;
    margin-top: 14px;
    margin-bottom: -14px;
    padding-top: 10px;
    height: 210px;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color: #555555;
    line-height: 20px;
}
#menu_dropdown ul {
    margin-left: 15px;
}
#menu_dropdown li:nth-child(1){
    font-weight: bold;
}
#menu_dropdown li:not(:first-child):hover{
    color: #167ac6;
    cursor: pointer;
}
.first_column{
    /*border: 1px solid lime;*/
    width: 86px;
}
.second_column{
    /*border: 1px solid lightcoral;*/
    width: 86px;
}
.third_column{
    /*border: 1px solid lime;*/
    width: 86px;
}
.fourth_column{
    /*border: 1px solid lightcoral;*/
    width: 100px;
}
.fifth_column{
    /*border: 1px solid lime;*/
    width: 86px;
}
.main_video_search_container{
    width: 710px;
    background: white;
    position: relative;
    margin-left: 10%;
    margin-top: 15px;
    /*margin-bottom: 15px;*/
    height: auto;
}
#search_video_container{
    width: 710px;
    background: white;
    position: relative;
    /*margin-left: 10%;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    height: 180px;
}
#search_video_img{
    width: 270px;
    height: 148px;
    /*border: 2px solid hotpink;*/
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;
}
.watch_container{
    height: 22px;
    width: 22px;
    background: #eeeeee;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    position: absolute;
    top: 136px;
    left: 261px;
    display: none;
    cursor: pointer;
}

#video_display_container:hover .watch_container{
    display: block;
}
#watch_later{
    height: 14px;
    width: 14px;
    opacity: 0.6;
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px)
}
.search_words_container{
    /*border: 2px solid lime;*/
    width: 399px;
    height: 144px;
    position: absolute;
    right: 14px;
    top: 15px;
}
#search_video_title{
    color: #167ac6;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: 200;
}
#search_video_title:hover{
    color: #167ac6;
    text-decoration: underline;
}
#search_video_channel{
    color: #767676;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: pointer;
    font-weight: 200;
    margin-bottom: 3px;
}
#search_video_channel:hover{
    color: #167ac6;
    text-decoration: underline;
}
#search_video_desc{
    color: #767676;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
}
#search_video_container ul{
    font-size: 12px;
    color: #767676;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative
}
#search_video_container li{
    font-size: 12px;
    display: inline;
    color: #767676;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    padding-right: 4px;
}

#search_video_container li img{
    height: 2px;
    width: 2px;
    position: absolute;
    left: -1px;
    top: 6px;
    opacity: 0.5; 
}

.pagination_bttn{
    height: 49px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    /* border: 2px solid black; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    padding-top: 3px;
}

#prev_bttn:hover{
    cursor: pointer;
    background: #e9e9e9;
}

#prev_bttn{
    height: 28px;
    width: 61px;
    border: 1px solid #d3d3d3;
    background: #f8f8f8;
    border-radius: 2px;
}

.pagination_bttn div p {
    font-size: 11.5px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    font-weight: bold;
}

#next_bttn:hover{
    cursor: pointer;
    background: #e9e9e9;
}

#next_bttn{
    height: 28px;
    width: 61px;
    border: 1px solid #d3d3d3;
    background: #f8f8f8;
    border-radius: 2px;
}