
.comments_wrapper{
    width: 100%;
    height: 130px;
    position: relative;
}

.comments_container{
    width: 855px;
    height: 120px;
    background: #fff;
    padding: 14px 10px 10px 11px;
    position: absolute;
    left: 35px;
}

.comments_container ul{
    /*border: 2px solid lightseagreen;*/
    height: 27px;
    width: 145px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12.5px;
    color: #555555;
    display: flex;
    position: relative;
}
.comments_container ul li {
    margin: 3px 3px 3px 3px;
}
.comments_container ul li:nth-child(1){
    font-weight: bold;
}
.comments_container ul li img{
    height: 3px;
    width: 3px;
    position: absolute;
    top: 7px;
    left: 80px;
    opacity: 0.7;
}

.comments_container #user_img img{
    height: 46px;
    position: absolute;
    left: 14px;
    top: 47px;
}
#comment_input input{
    height: 45px;
    width: 88%;
    position: absolute;
    left: 80px;
    top: 47px;
    border: 1px solid #d5d5d5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13.8px;
    /*color: #b8b8b8;*/
    opacity: 0.7;
    padding-left: 9px;

}
#comment_input_tick{
    width: 0;
    height: 0;
    border-top: 11px solid #d5d5d5;
    border-left: 11px solid transparent;
    position: absolute;
    top: 47px;
    left: 69px;
    z-index: 100;
    background: transparent;
}
#comment_input_tick_inner{
    width: 0;
    height: 0;
    border-top: 10.7px solid #fff;
    border-left: 10.7px solid transparent;
    position: absolute;
    top: -10.515px;
    left: -9px;
    z-index: 100;
    background: transparent;
}
#border_line{
    height: 0.5px;
    background: #d5d5d5;
    width: 95%;
    position: absolute;
    top: 117px;
    left: 2.5%;
}

.all_comments{
    width: 855px;
    background: white;
    position: absolute;
    top: 119px;
    left: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12.5px;
}
#comment_filter{
    height: 30px;
    width: 96px;
    background: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-radius: 3%;
    padding-left: 7px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}
#comment_filter p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10.5px;
    vertical-align: middle;
    line-height: 30px;
}
#comment_filter div img{
    height: 16px;
    width: 16px;
    position: absolute;
    top: 7px;
    right: 7px;
}

#comment_filter:hover{
    cursor:pointer;
    background: #e9e9e9;
    z-index: 100
}
.active{
    background: #e9e9e9;
}
#filter_content{
    height: 78px;
    width: 117px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    position: absolute;
    z-index: 100;
    top: 47px;
    left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13.3px;
    /* padding-left: 10px; */
    font-weight: 100;
    padding-top: 10px;
    box-shadow: 0px 3px 13px lightgrey;
    box-shadow: 0 4px 7px -2px lightgrey;
    background-color: white;
}
#filter_content p{
    padding: 0px 0px 12px 10px;
    vertical-align: middle;
    line-height: 23px;
    height: 26px;
    /*border: 2px solid black;*/
    width: 100%;
}
#filter_content p:hover{
    background:#e9e9e9;
    cursor: pointer;
}
.individual_comment{
    width: 855px;
    border: 1px solid white;
    position: relative;
}
.user_comment_thumbnail{
    height: 57px;
    width: 63px;
    background-color: lime;
    margin: 14px 15px 15px 20px;
}
.individual_comment #user_info_comment{
    /*border: 1px solid black;*/
    width: 400px;
    height: auto;
    display: flex;
    position: absolute;
    top: 18px;
    left: 99px;
}

#user_info_comment li{
    padding-right: 12px;
}
#user_info_comment li:nth-child(1){
    color: #128ee9;
    font-size: 14px;
    font-weight: bold;
}
#user_info_comment li:nth-child(1):hover{
    text-decoration: underline;
    cursor:pointer;
}
#user_info_comment li:nth-child(2){
    color: #767676;
    font-size: 11px;
    vertical-align: middle;
    line-height: 15px;
}
#comment_comment{
    width: 740px;
    /*border: 1px solid gray;*/
    position: absolute;
    left: 99px;
    top: 41px;
}

.comment_reply_box{
    /*border: 2px solid blueviolet;*/
    width: 500px;
    position: absolute;
    top: 64px;
    left: 98px;
}

.comment_reply_box #reply_functions{
    display: flex;
}
#reply_functions li{
    padding-right: 12px;
}

#reply_functions li:nth-child(1){
    color: #555555;
    font-size: 12px;
}
#reply_functions li:nth-child(2) img{
    height: 3px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: 37px;
    opacity: 0.5;
}
#reply_functions li:nth-child(3){
    color: #128ee9;
    font-size: 12px;
    margin-left: -10px;
}

#reply_functions #thumb_up{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-comments-2x-vflonHBZX.webp) 0 -36px;
    background-size: 182px 302px;
    width: 14px;
    height: 14px;
    opacity: 0.5
}
#reply_functions #thumb_up:hover{
    opacity: 0.7;
    cursor:pointer;
}
#reply_functions #thumb_down{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-comments-2x-vflonHBZX.webp) -90px -214px;
    background-size: 182px 302px;
    width: 14px;
    height: 14px;
    opacity: 0.5
}
#reply_functions #thumb_down:hover{
    opacity: 0.7;
    cursor:pointer;
}

#report_bttn{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 20px;
    right: 10px;
    opacity: 0.5;
}
#report_bttn_img{
    opacity: .8;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -636px -99px;
    background-size: auto;
    width: 13px;
    height: 13px;
}
#report_bttn:hover{
    cursor: pointer;
    opacity: 0.8;
}

#report_content{
    height: 47px;
    width: 151px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    position: absolute;
    top: 35px;
    right: 16px;
    box-shadow: 0px 3px 13px lightgrey;
    box-shadow: 0 4px 7px -2px lightgrey;
}

#report_content p{
    padding: 7px 0px 0px 13.1px;
    width: 100%;
    height: 28px;
    position: absolute;
    top: 10px;
}

#report_content p:hover{
    background: #e9e9e9;
    z-index: 100;
    cursor:pointer;
}