
.video_title_wrapper{
    width: 100%;
    height: 170px;
    position: relative;
}

.video_title_container{
    width: 855px;
    height: 150px;
    background: #fff;
    padding: 15px 10px 10px 10px;
    position: absolute;
    left: 35px;
    top: 10px;
}

.video_title{
    font-size: 17px;
}

.channel_thumbnail{
    width: 40px;
    height: 40px;
    background: #333;
    display: inline-block;
}

.channel_title{
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.subscribe_button{
    width: 100px;
    height: 20px;
    background: red;
    color: white;
}

.view_count{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 40px;
}

.line{
    width: 94%;
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 2%;
    top: 70px;
}

.video_title_bottom{
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0px;
}

.add_share_list{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.like_dislike_list{
    width: 20%;
    position: absolute;
    right: 10px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}
