.subscription_main_container{
    width: 100%;
    /*height: 40px;*/
    /*background: lightcoral;*/
    border-bottom: 1.5px solid #e3e3e3;
}

#subscriptions_title{
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
    font-size: 13.1px;
    position: absolute;
    z-index: 2;
    top: 148px;
    left: 82px;
}
.subscription{
    /*border:2px solid black;*/
    height: 38px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
}
#subscription{
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    color: #666666;
    font-size: 13.4px;
    /*font-weight: bold;*/
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    /*font-weight: 600;*/
    /*opacity: 0.8;*/
}

#subscription:nth-child(3){
    border-bottom: 2.5px solid #cc181e;
    color: #333333;
    opacity: 1;
    font-weight: bold;
}

#subscription:hover{
    border-bottom: 2.5px solid #cc181e;
    cursor: pointer;
}

#subscription a{
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Roboto Condensed', sans-serif;
}