.main_header_section{
    width: 100%;
    height: 57px;
    border-bottom: 1.5px solid #e3e3e3;
    position: relative;
}
.main_header_div{
    width: 100%;
    height: 56px;
    background: white;
    display: flex;
    justify-content: space-around;
    position: relative;
}
ul{
    border: 2px solid lime;
    width: 130px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
ul .header_hamburger{
     height: 15px;
     width: 20px;
     /*border: 2px solid white;*/
     display: flex;
     margin-top: 19px;
     justify-content: space-around;
     flex-wrap: wrap;
}

.hamburger_bar{
    height: 2px;
    width: 15px;
    background: #b8b8b8;
    border-radius: 14%;
}
/*.header_hamburger:hover{
    background: #333333;
}*/
.header_logo{
    /*border: 2px solid white;*/
    height: 45px;
    width: 80px;
    margin-top: 5px;
    position: relative;
}
.header_logo img{
    height:96px;
    position: absolute;
    top: -28px;
    left: -12px;
}
.header_search {
    border: 2px solid black;
    height: 50px;
    width: 40%
}
#search_bttn{
    height:26px;
    width: 20%;
    background: #f8f8f8;
    border-radius: 5%;
    border: 1px solid #dddddd;
    position: relative;
}
#search_bttn img {
    height: 20px;
    position: absolute;
    top: 3px;
    left: calc(50% - 12px);
}
.header_search input{
    border: 1px solid #dddddd;
    color: #999999;
    height: 26px;
    width: 80%;
}
.upload{
    border: 2px solid lime;
    height: 100%; 
    width: 32px;
    position: relative;
}
#upload{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -106px -28px;
    background-size: auto;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    opacity: 0.5;
}
#upload:hover{
    opacity: 0.6;
}
#notifications{
    position: absolute;
    top: -2px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -322px -134px;
    background-size: auto;
    width: 30px;
    height: 30px;
}
#sign_in img{
    height: 26px;
    border-radius: 50%;
}
