
.videopage_main_container{
    width: 100%;
    overflow: auto;
    position: relative;
    background: #eee;
}

.main_content_wrapper{
    width: 865px;
    position: relative;
    float: left;
}

.iframe_placeholder{
    width: 865px;
    height: 490px;
    position: relative;
}

.iframe{
    width: 855px;
    height: 480px;
    background: darkslategray;
    position: absolute;
    left: 35px;
    top: 10px;
}

.comments_wrapper{
    width: 100%;
    height: 130px;
    position: relative;
}

.comments_container{
    width: 855px;
    height: 120px;
    background: #fff;
    padding: 10px 10px 10px 10px;
    position: absolute;
    left: 35px;
}

.more_videos_wrapper{
    width: 430px;
    height: 1800px;
    float: left;
    position: relative;
}

.more_videos_placeholder{
    width: 415px;
    height: 1600px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 35px;
}

